@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.whatsss {
  position: fixed;

  left: 33px;
  bottom: 10px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  z-index: 1000;
}
.whatssss {
  position: fixed;
  right: 33px;
  bottom: 10px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  z-index: 1000;
}

/* #hero {
  background-image: url('../public/bg.png');
  background-repeat: no-reapeat;
  background-size: 100%;
} */

#hero {
  position: relative;
  background-image: url('/bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 1, 1, 1);
  z-index: -1;
}

::-webkit-scrollbar {
  width: 0;
}

.text-shadow-sides {
  position: relative;
}

.text-shadow-sides::before,
.text-shadow-sides::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 1, 1);
}

.text-shadow-sides::before {
  left: -1px;
}

.text-shadow-sides::after {
  right: -1px;
}

#smart {
  position: relative;
  background-image: url('/bg3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#smart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 1, 1, 1);
  z-index: -1;
}


@media (max-width: 767px) {
  .hidden-sm {
    display: none;
  }
}

@media (max-width: 767px) {
  .mb-sm-10 {
    margin-bottom: 2.5rem;
  }
}
