body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk',sans-serif;
}
.active{
    background-color: dodgerblue;
}
.homepage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Desc{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
}
.price{
    padding:40px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    width: 100%;
    z-index: 2;
    background-color: white;
    
}
.footer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:130px;
}
@media(max-width:768px){
    .homepage{
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }
    .container{
        text-align: center;
    }
    .Desc{
        display: flex;
       flex-direction: column;
    }
}